* {
  border: 0px;
}

body {
  background-color: rgb(218, 201, 111);
  margin: 20px;
  font-size: 20px;
  line-height: 2rem;
}

div {
  padding: 10px;
}

.pictures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#myform {
  display: block;
}

header {
  background-image: url("https://cdn.pixabay.com/photo/2016/04/08/18/05/banner-1316680_960_720.jpg");
  min-height: 260px;
}

header > h1 {
  margin: 0 auto;
  text-align: center;
  padding: 7%;
  font-size: 3.5rem;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(233, 220, 153);
}

#navbar li {
  display: inline;
  color: black;
}

#navbar li a, .dropbtn {
  display: inline-block;
  color: rgb(20, 20, 20);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

#navbar li.dropdown {
  display: inline-block;
}

#navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#navbar .dropdown-content a:hover {
  background-color: #f1f1f1;
}

#navbar .dropdown:hover .dropdown-content {
  display: block;
}
footer {
  width: 100%;
  min-height: 100px;
  background-color: chocolate;
}

@media (max-width: 549px){
    .hidden--mobile {
      display: none !important;
    }
    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    nav > i {
      padding: 1rem;
      font-size: 2em;
    }
    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }
    nav > ul > li {
      padding: .5rem;
      list-style-type: none;
    }

    header h1 {
      font-size: 16px;
    }

}

@media (min-width: 550px){
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
  nav > ul > li {
    display: inline-block;
    text-decoration: none;
  }

  nav > .fa-bars {
    display: none;
  }
}
